{% extends 'base.html' %}

{% load static %}

{% block content %}

<H1>Home</H1>

<a href="{% url 'publication:list_topic' %}" >Lista de Assuntos</a><br>
<a href="{% url 'publication:list_post' %}" >Lista de Posts</a>

<form class="" method="get" action="{% url 'publication:search' %}">
    <input class="" type="search" id="search" placeholder="Busca" aria-label="Busca" name="search">
    <button class="" type="submit">Busca</button>
</form>

<section>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <h3>Tema: {{ post.topic }}</h3>
            <p>Autor: {{ post.author }}</p>
            <p>Publicado: {{ post.get_time }}</p>
            <img src="/media/{{post.image}}" alt="{{ post.alt }}">
            <p>{{ post.article }}</p>

            <div class="">
                <form class="" action="{% url 'publication:like' post.pk %}" method="post">
                    {% csrf_token %}
                    <button class="", type="submit", name="post_id" value="{{ post.id }}", >
                        <p>like</p>
                        <a>{{ post.get_sum_likes }}</a>
                    </button>
                </form>

                <form class="" action="{% url 'publication:dislike' post.pk %}" method="post">
                    {% csrf_token %}
                    <button class="", type="submit", name="post_id" value="{{ post.id }}", >
                        <p>dislike</p>
                        <a>{{ post.get_sum_dislikes }}</a>
                    </button>
                </form>

            </div>
        </div>
    {% empty %}
        <p>Sem Postagem</p>
    {% endfor %}
</section>

{% endblock content %}