{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <h3>Tema: {{ post.topic }}</h3>
            <p>Autor: {{ post.author }}</p>
            <p>Publicado: {{ post.get_time }}</p>
            <a href="{% url 'publication:detail_post' post.slug %}">
                <figure>
                    <img src="/media/{{post.image}}" alt="{{ post.alt }}">
                </figure>
            </a>
            <p>{{ post.article|safe }}</p>

            <div class="">
                <form class="" action="{% url 'publication:like' post.pk %}" method="post">
                    {% csrf_token %}
                    <button class="", type="submit", name="post_id" value="{{ post.id }}", >
                        <p>like</p>
                        <a>{{ post.get_sum_likes }}</a>
                    </button>
                </form>

                <form class="" action="{% url 'publication:dislike' post.pk %}" method="post">
                    {% csrf_token %}
                    <button class="", type="submit", name="post_id" value="{{ post.id }}", >
                        <p>dislike</p>
                        <a>{{ post.get_sum_dislikes }}</a>
                    </button>
                </form>

            </div>
        </div>
    {% empty %}
        <p>Sem Postagem</p>
    {% endfor %}
</section>

{% endblock content %}