{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<h1 class=""><span class="">{{ post.theme }}</span>{{ post.title }}</h1>

{% if post.image %}
    <img class="" src="/media/{{post.image}}" alt="{{ post.alt }}">
{% else %}
    <img class="" src="{% static 'images/no_image.jpg' %}" alt="sem imagem">
{% endif %}

<p class="">
    <strong>Autor: </strong>{{ post.author }} 
    <time><strong>Publicado:</strong>{{ post.get_time }}</time>
</p> 

<p>{{ post.article }}</p>

<h3>Comentarios</h3>

<div class="">
    <form class="" action="{% url 'publication:comment' post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form}}
        <button class="", type="submit", name="post_id" value="{{ post.id }}">Comentar</button>
    </form>

    {% if post.comments.all %}
        {% for comment in post.comments.all %}
            <div class="">
                <div class="">
                    <hr>
                    <p>
                        <strong>Comentado por: </strong>{{ comment.user }}
                        <time><strong>Publicado: </strong>{{ comment.get_time}}</time>
                    </p>
                </div>
                <div class="">
                    <a>{{ comment.text }}</a>
                </div>
            </div>
            {% endfor %}
    {% endif %}
</div>

<p class="">
    Voltar para 
    <a class="" href="\">
    home
    </a>
</p>

{% endblock content %}