{% extends 'base.html' %}

{% load static %}

{% block content %}

<H1>Resultado da pesquisa</H1>

<section>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <h3>Tema: {{ post.topic }}</h3>
            <p>Autor: {{ post.author }}</p>
            <p>Publicado: {{ post.get_time }}</p>
            <img src="/media/{{post.image}}" alt="{{ post.alt }}">
            <p>{{ post.article }}</p>
        </div>
    {% empty %}
        <p>A busca não encontrou nenhuma postagem</p>
    {% endfor %}
</section>

{% endblock content %}